<div class="logo" style="padding: 5px">
  <a class="simple-text" href="#">
    <!-- <div class="logo-img">
				 <img src="/assets/img/angular2-logo-red.png">
		 </div>  -->
    <!-- Dev Architecture -->
    <div class="site-logo-text">
      <h3 style="font-weight: 900;" >Limitsiz Rota</h3>
  </div>
  </a>
</div>
<div class="sidebar-wrapper">
  <div class="nav-container">
    <ul class="nav">
      <li routerLinkActive="active">
        <a data-toggle="collapse" class="nav-link" href="#Management">
          <i class="material-icons">widgets</i>
          <p>
            {{ "Management" | translate }}
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="Management">
          <ul class="nav">
            <li
              *ngFor="let menuItem of adminMenuItems"
              class="{{ menuItem.class }} nav-item"
            >
              <a
                *ngIf="checkClaim(menuItem.claim)"
                class="nav-link"
                [routerLink]="[menuItem.path]"
              >
                <i class="material-icons">{{ menuItem.icon }}</i>
                <p>{{ menuItem.title | translate }}</p>
              </a>
            </li>
          </ul>
        </div>
      </li> 
	</ul>
	
	<ul class="nav">
		<li routerLinkActive="active">
		  <a data-toggle="collapse" class="nav-link" href="#AppMenu">
			<i class="material-icons">extension</i>
			<p>
			  {{ "AppMenu 1" | translate }}
			  <b class="caret"></b>
			</p>
		  </a>
		  <div class="collapse" id="AppMenu">
			<ul class="nav">
			  <li
				*ngFor="let menuItem of userMenuItems"
				class="{{ menuItem.class }} nav-item"
			  >
				<a
				  *ngIf="checkClaim(menuItem.claim)"
				  class="nav-link"
				  [routerLink]="[menuItem.path]"
				>
				  <i class="material-icons">{{ menuItem.icon }}</i>
				  <p>{{ menuItem.title | translate }}</p>
				</a>
			  </li>
        <li class=" nav-item">
          <a    
            class="nav-link" routerLink="ulke" 
          >
            <p style="font-size: 15px; margin: 0;;
            line-height: 30px;
            font-size: 15px;
            position: relative;
            display: block;
            height: auto;
            white-space: nowrap;" ><i style="margin-right: 10px; font-size: 17px;"  class="fa-brands fa-audible"></i>Ülke</p>
          </a>
        </li> 
        <li class=" nav-item">
          <a    
            class="nav-link" routerLink="bolgeler" 
          >
            <p style="font-size: 15px; margin: 0;;
            line-height: 30px;
            font-size: 15px;
            position: relative;
            display: block;
            height: auto;
            white-space: nowrap;" ><i style="margin-right: 10px; font-size: 17px;"  class="fa-brands fa-audible"></i>Bolgeler</p>
          </a>

        </li> 
        <li class=" nav-item">
          <a    
            class="nav-link" routerLink="sehir" 
          >
            <p style="font-size: 15px; margin: 0;;
            line-height: 30px;
            font-size: 15px;
            position: relative;
            display: block;
            height: auto;
            white-space: nowrap;" ><i style="margin-right: 10px; font-size: 17px;"  class="fa-brands fa-audible"></i>Şehir</p>
          </a>

        </li> 
        <li class=" nav-item">
          <a    
            class="nav-link" routerLink="rota" 
          >
            <p style="font-size: 15px; margin: 0;;
            line-height: 30px;
            font-size: 15px;
            position: relative;
            display: block;
            height: auto;
            white-space: nowrap;" ><i style="margin-right: 10px; font-size: 17px;"  class="fa-brands fa-audible"></i>Rota</p>
          </a>

        </li> 
        <li class=" nav-item">
          <a    
            class="nav-link" routerLink="rotaDetayi" 
          >
            <p style="font-size: 15px; margin: 0;;
            line-height: 30px;
            font-size: 15px;
            position: relative;
            display: block;
            height: auto;
            white-space: nowrap;" ><i style="margin-right: 10px; font-size: 17px;"  class="fa-brands fa-audible"></i>Rota Detayi</p>
          </a>

        </li>
        <li class=" nav-item">
          <a    
            class="nav-link" routerLink="rotaOnUc" 
          >
            <p style="font-size: 15px; margin: 0;;
            line-height: 30px;
            font-size: 15px;
            position: relative;
            display: block;
            height: auto;
            white-space: nowrap;" ><i style="margin-right: 10px; font-size: 17px;"  class="fa-brands fa-audible"></i>Rota Anasayifa</p>
          </a>   
        </li> 
         
        <li class=" nav-item">
          <a    
            class="nav-link" routerLink="rotaGaleri" 
          >
            <p style="font-size: 15px; margin: 0;;
            line-height: 30px;
            font-size: 15px;
            position: relative;
            display: block;
            height: auto;
            white-space: nowrap;" ><i style="margin-right: 10px; font-size: 17px;"  class="fa-brands fa-audible"></i>Rota Galeri</p>
          </a>

        </li> 
        <li class=" nav-item">
          <a    
            class="nav-link" routerLink="resimTipi" 
          >
            <p style="font-size: 15px; margin: 0;;
            line-height: 30px;
            font-size: 15px;
            position: relative;
            display: block;
            height: auto;
            white-space: nowrap;" ><i style="margin-right: 10px; font-size: 17px;"  class="fa-brands fa-audible"></i>Resim Tipi</p>
          </a>   
        </li>
        <li class=" nav-item">
          <a    
            class="nav-link" routerLink="kategori" 
          >
            <p style="font-size: 15px; margin: 0;;
            line-height: 30px;
            font-size: 15px;
            position: relative;
            display: block;
            height: auto;
            white-space: nowrap;" ><i style="margin-right: 10px; font-size: 17px;"  class="fa-brands fa-audible"></i>Kategori</p>
          </a>
  
        </li> 
        <li class=" nav-item">
          <a    
            class="nav-link" routerLink="günler" 
          >
            <p style="font-size: 15px; margin: 0;;
            line-height: 30px;
            font-size: 15px;
            position: relative;
            display: block;
            height: auto;
            white-space: nowrap;" ><i style="margin-right: 10px; font-size: 17px;"  class="fa-brands fa-audible"></i>Günler</p>
          </a>   
        </li>
    
        <li class=" nav-item">
          <a    
            class="nav-link" routerLink="puanlar" 
          >
            <p style="font-size: 15px; margin: 0;;
            line-height: 30px;
            font-size: 15px;
            position: relative;
            display: block;
            height: auto;
            white-space: nowrap;" ><i style="margin-right: 10px; font-size: 17px;"  class="fa-brands fa-audible"></i>Puanlar</p>
          </a>   
        </li>
    
 

        <!-- <li class=" nav-item">
          <a    
            class="nav-link" routerLink="yorumlar" 
          >
            <p style="font-size: 15px; margin: 0;;
            line-height: 30px;
            font-size: 15px;
            position: relative;
            display: block;
            height: auto;
            white-space: nowrap;" ><i style="margin-right: 10px; font-size: 17px;"  class="fa-brands fa-audible"></i>Yorumlar</p>
          </a>   
        </li>    -->
       
     
       
			</ul>
		  </div>
		</li>
	  </ul>






    <ul class="nav">
      <li routerLinkActive="active">
        <a data-toggle="collapse" class="nav-link" href="#AppMenuu">
        <i class="material-icons">extension</i>
        <p>
          {{ "AppMenu 2"  | translate }}
          <b class="caret"></b>
        </p>
        </a>
        <div class="collapse" id="AppMenuu">
        <ul class="nav">
          <li
          *ngFor="let menuItem of userMenuItems"
          class="{{ menuItem.class }} nav-item"
          >
          <a
            *ngIf="checkClaim(menuItem.claim)"
            class="nav-link"
            [routerLink]="[menuItem.path]"
          >
            <i class="material-icons">{{ menuItem.icon }}</i>
            <p>{{ menuItem.title | translate }}</p>
          </a>
          </li>
          <li class=" nav-item">
            <a    
              class="nav-link" routerLink="slider" 
            >
              <p style="font-size: 15px; margin: 0;;
              line-height: 30px;
              font-size: 15px;
              position: relative;
              display: block;
              height: auto;
              white-space: nowrap;" ><i style="margin-right: 10px; font-size: 17px;"  class="fa-brands fa-audible"></i>Slider</p>
            </a>   
          </li> 
          <li class=" nav-item">
            <a    
              class="nav-link" routerLink="partner" 
            >
              <p style="font-size: 15px; margin: 0;;
              line-height: 30px;
              font-size: 15px;
              position: relative;
              display: block;
              height: auto;
              white-space: nowrap;" ><i style="margin-right: 10px; font-size: 17px;"  class="fa-brands fa-audible"></i>Partner</p>
            </a>   
          </li> 
          <li class=" nav-item">
            <a    
              class="nav-link" routerLink="destek" 
            >
              <p style="font-size: 15px; margin: 0;;
              line-height: 30px;
              font-size: 15px;
              position: relative;
              display: block;
              height: auto;
              white-space: nowrap;" ><i style="margin-right: 10px; font-size: 17px;"  class="fa-brands fa-audible"></i>Media Foto</p>
            </a>   
          </li> 
          <li class=" nav-item">
            <a    
              class="nav-link" routerLink="team" 
            >
              <p style="font-size: 15px; margin: 0;;
              line-height: 30px;
              font-size: 15px;
              position: relative;
              display: block;
              height: auto;
              white-space: nowrap;" ><i style="margin-right: 10px; font-size: 17px;"  class="fa-brands fa-audible"></i>Takım</p>
            </a>   
          </li> 
     
    
        </ul>
        </div>
      </li>
      </ul>
  </div>
</div>
